<!DOCTYPE html>

<title>Booking</title>

{% block body %}
    <h1>Booking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Booking_date</th>
                <td>{{ booking.bookingDate ? booking.bookingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Number_of_people</th>
                <td>{{ booking.numberOfPeople }}</td>
            </tr>
            <tr>
                <th>Total_price</th>
                <td>{{ booking.totalPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_booking_index') }}">back to list</a>

    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
