<!DOCTYPE html>

<title>Tourist index</title>

{% block body %}
    <h1>Tourist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Registration_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tourist in tourists %}
            <tr>
                <td>{{ tourist.id }}</td>
                <td>{{ tourist.firstName }}</td>
                <td>{{ tourist.lastName }}</td>
                <td>{{ tourist.email }}</td>
                <td>{{ tourist.phone }}</td>
                <td>{{ tourist.registrationDate ? tourist.registrationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tourist_show', {'id': tourist.id}) }}">show</a>
                    <a href="{{ path('app_tourist_edit', {'id': tourist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tourist_new') }}">Create new</a>
{% endblock %}
